:root {
  --dse-body-text-color: #{$green-light};
  --dse-body-bg-color: #{$white};

  --dse-btn-primary-color: #{$white};

  --dse-form-clor: #{$green};

  --dse-h1-font-size: #{$h-1};

  --dse-h1-font-weight: #{$fw-medium};
}
